$max-margin : 10;
$light-color : #ECF0F1;
$lighter-color : #f5f7f8;
$box-shadow-color : #adafb3;
$primary-color : #1abc9c;
$primary-border-color : #16a085;
$secondary-border-color : #bdc3c7;
$primary-font-color : white;
$dark-color : #34495E;
$yellow-color : #F1C40F;
$dark-grey : #7F8C8D;
$orange-color : #F39C12;

.zero-padding{
    padding-left : 0;
    padding-right : 0;
}

@mixin make-margin($margin) {
	@for $i from 0 through $margin {
		.margin-top-#{$i} {
		  margin-top: 10px * $i;
		}
	}
}

@include make-margin($max-margin);

.flight-list{
    display: inline-block;
    width: 100%;
    border: 1px solid $secondary-border-color;
    -webkit-transition: box-shadow 1000ms ease;
    transition: box-shadow 1000ms ease;
    margin-top : 10px;
    border-radius : 6px;
    color : $dark-color;

    &:hover{
        border-color: #00c2a2;
        box-shadow: #adafb3 0px 0px 6px -1px;
        color : $dark-color;
    }
    .days-in-destination{
        border : 1px solid $primary-color;
        padding : 5px;
        border-radius : 6px;
        color : $dark-grey;
    }
    .formated-date{
        font-size : 16px;
        color : $box-shadow-color;
    }
    .days{
        color : $primary-color;
    }
    .airline-code{
        border-top : 1px solid $light-color;
        p{
            margin:0px;
        }
    }
    .price-information{
        p{
            margin-bottom : 0;
        }
        .small{
            font-size : 70%;
        }
        .btn{
            padding : 2px 4px;
            font-size : 10px;
        }
    }
    .price{
        cursor : pointer;
        background-color : $dark-color;
        color : $yellow-color;
        padding : 3px;
        border-left : 1px solid $light-color;
        border-radius : 0px;
    }
    .price:first-child{
        border-left : none;
    }
}

.flights-column{
    padding-right : 5px;
    padding-left : 10px;
}

.header-depart-dates{
    .nav-pills>li{
        background-color : $primary-color;
        color : $primary-font-color;
        border : 1px solid #16A085;
        border-left: 2px solid $light-color;
        padding: 12px 21px 13px;
        font-size: 16px;
        font-weight: 700;
        border-radius: 0;
        outline: 0;
        -ms-transform: skew(-30deg); /* IE 9 */
        -webkit-transform: skew(-30deg); /* Chrome, Safari, Opera */
        transform: skew(-30deg); /* Standard syntax */
        transform-origin: bottom left;

        &:first-child{
            border-left: none;
            border-radius: 6px 0 0 6px;
        }

        &:last-child{
            border-radius : 0 6px 6px 0;
        }

        div{
            -ms-transform: skew(30deg); /* IE 9 */
            -webkit-transform: skew(30deg); /* Chrome, Safari, Opera */
            transform: skew(30deg); /* Standard syntax */
            transform-origin: bottom left;  
        }

        .fui-triangle-down, .fui-triangle-up, .fui-arrow-left, .fui-arrow-right{
            cursor : pointer;
        }
    }

}

.header-specific-dates{
    ul{
        display: inline-block;
        margin: 0;
        padding: 0;
        /* For IE, the outcast */
        zoom:1;
        *display: inline;
    }

    li{
        float : left;
        display: inline-block;
        min-width: 41px;
        min-height: 41px;
        padding: 12px 10px;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        text-align: center;
        background: $light-color;
        border-left: 2px solid #e4e7ea;
        outline: none;
        -webkit-transition: .25s ease-out;
        transition: .25s ease-out;
        cursor : pointer;

        &:first-child{
            border-left: none;
            border-radius: 6px 0 0 6px;
        }

        &:last-child{
            border-radius : 0 6px 6px 0;
        }

        &.active{
            background : $primary-color;
        }
    }
}

.customization{
    border: 2px solid $secondary-border-color;
	border-radius : 6px;
	padding : 12px;
}

.glyphicon-refresh-animate {
    animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}