.zero-padding {
  padding-left: 0;
  padding-right: 0; }

.margin-top-0 {
  margin-top: 0px; }

.margin-top-1 {
  margin-top: 10px; }

.margin-top-2 {
  margin-top: 20px; }

.margin-top-3 {
  margin-top: 30px; }

.margin-top-4 {
  margin-top: 40px; }

.margin-top-5 {
  margin-top: 50px; }

.margin-top-6 {
  margin-top: 60px; }

.margin-top-7 {
  margin-top: 70px; }

.margin-top-8 {
  margin-top: 80px; }

.margin-top-9 {
  margin-top: 90px; }

.margin-top-10 {
  margin-top: 100px; }

.flight-list {
  display: inline-block;
  width: 100%;
  border: 1px solid #bdc3c7;
  -webkit-transition: box-shadow 1000ms ease;
  transition: box-shadow 1000ms ease;
  margin-top: 10px;
  border-radius: 6px; }
  .flight-list:hover {
    border: 1px solid #1abc9c;
    box-shadow: #adafb3 0px 0px 6px -1px;
    -webkit-transition: background-color 250ms ease;
    transition: background-color 250ms ease;
    cursor: pointer;
    background-color: #f5f7f8; }
  .flight-list .days-in-destination {
    border: 1px solid #1abc9c;
    padding: 5px;
    border-radius: 6px;
    color: #7F8C8D; }
  .flight-list .formated-date {
    font-size: 16px;
    color: #adafb3; }
  .flight-list .days {
    color: #1abc9c; }
  .flight-list .airline-code {
    border-top: 1px solid #ECF0F1; }
    .flight-list .airline-code p {
      margin: 0px; }
  .flight-list .price {
    background-color: #34495E;
    color: #F1C40F;
    padding: 3px;
    border-left: 1px solid #ECF0F1;
    border-radius: 0px; }
  .flight-list .price:first-child {
    border-left: none; }

.flights-column {
  padding-right: 5px;
  padding-left: 10px; }

.header-depart-dates .nav-pills > li {
  background-color: #1abc9c;
  color: white;
  border: 1px solid #16A085;
  border-left: 2px solid #ECF0F1;
  padding: 12px 21px 13px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 0;
  outline: 0;
  -ms-transform: skew(-30deg);
  /* IE 9 */
  -webkit-transform: skew(-30deg);
  /* Chrome, Safari, Opera */
  transform: skew(-30deg);
  /* Standard syntax */
  transform-origin: bottom left; }
  .header-depart-dates .nav-pills > li:first-child {
    border-left: none;
    border-radius: 6px 0 0 6px; }
  .header-depart-dates .nav-pills > li:last-child {
    border-radius: 0 6px 6px 0; }
  .header-depart-dates .nav-pills > li div {
    -ms-transform: skew(30deg);
    /* IE 9 */
    -webkit-transform: skew(30deg);
    /* Chrome, Safari, Opera */
    transform: skew(30deg);
    /* Standard syntax */
    transform-origin: bottom left; }
  .header-depart-dates .nav-pills > li .fui-triangle-down, .header-depart-dates .nav-pills > li .fui-triangle-up {
    cursor: pointer; }

.header-specific-dates ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  /* For IE, the outcast */
  zoom: 1;
  *display: inline; }

.header-specific-dates li {
  float: left;
  display: inline-block;
  min-width: 41px;
  min-height: 41px;
  padding: 12px 10px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-align: center;
  background: #ECF0F1;
  border-left: 2px solid #e4e7ea;
  outline: none;
  -webkit-transition: .25s ease-out;
  transition: .25s ease-out;
  cursor: pointer; }
  .header-specific-dates li:first-child {
    border-left: none;
    border-radius: 6px 0 0 6px; }
  .header-specific-dates li:last-child {
    border-radius: 0 6px 6px 0; }
  .header-specific-dates li.active {
    background: #1abc9c; }

.customization {
  border: 2px solid #bdc3c7;
  border-radius: 6px;
  padding: 12px; }
