<div class="col-sm-2 margin-top-2">
	<div>
		<form role="form">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="FROM" ng-model="search.origin">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="TO" ng-model="search.destination">
			</div>
			<button class="btn btn-block btn-lg btn-primary" ng-click="search(search)">Search</button>
		</form>
	</div>
	<div class="customization margin-top-2">
		<div>
			<p>Maximum price {{settings.maxPrice}}</p>
			<slider class="margin-top-2" value="settings.maxPrice" min="settings.dataMinPrice" max="settings.dataMaxPrice" orientation="horizontal" range="min"/>
		</div>
		<div>
			<p>Days in destination</p>
			<label class="checkbox" for="checkbox1">
		      <input type="checkbox" checked="checked" value="" id="checkbox1" data-toggle="checkbox" class="custom-checkbox" ng-click="settings.daysInDestination.firstChbx = !settings.daysInDestination.firstChbx; manageDaysInDestination(settings.daysInDestination.firstChbx, 1, 3)">
		      <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
		      1 to 3 days
		    </label>
		    <label class="checkbox" for="checkbox2">
		      <input type="checkbox" checked="checked" value="" id="checkbox2" data-toggle="checkbox" class="custom-checkbox" ng-click="settings.daysInDestination.secondChbx = !settings.daysInDestination.secondChbx; manageDaysInDestination(settings.daysInDestination.secondChbx, 4, 7)">
		      <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
		      4 to 7 days
		    </label>
		    <label class="checkbox" for="checkbox3">
		      <input type="checkbox" checked="checked" value="" id="checkbox3" data-toggle="checkbox" class="custom-checkbox" ng-click="settings.daysInDestination.thirdChbx = !settings.daysInDestination.thirdChbx; manageDaysInDestination(settings.daysInDestination.thirdChbx, 8, 11)">
		      <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
		      8 to 11 days
		    </label>
		    <label class="checkbox" for="checkbox4">
		      <input type="checkbox" checked="checked" value="" id="checkbox4" data-toggle="checkbox" class="custom-checkbox" ng-click="settings.daysInDestination.fourthChbx = !settings.daysInDestination.fourthChbx; manageDaysInDestination(settings.daysInDestination.fourthChbx, 12, 15)">
		      <span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
		      12 to 15 days
		    </label>
		</div>
		<div>
			<p>Specific departure date</p>
			<datepicker value="settings.specificDepartureDate" fieldid="date-picker-depart" dateformat="dd M yy" yearrange="-1:1" showothermonths="true" selectothermonths="true" mindate="{{settings.minDepartureDate}}" maxdate="{{settings.maxDepartureDate}}"></datepicker>
		</div>
		<div>
			<p>Specific return date</p>
			<datepicker value="settings.specificReturnDate" fieldid="date-picker-return" dateformat="dd M yy" yearrange="-1:1" showothermonths="true" selectothermonths="true" mindate="{{settings.minReturnDate}}" maxdate="{{settings.maxReturnDate}}"></datepicker>
		</div>
	</div>
</div>
<div class="col-sm-10 margin-top-2">
	<div class="row header-depart-dates">
		<div class="col-sm-12">
			<ul class="nav nav-pills text-center">
			  <li class="col-sm-4" ng-class="settings.mobileState==0 ? '' : 'hidden-xs'">
			  	<div>Depart in 1-5 days <span class="hidden-xs" ng-class="{'fui-triangle-down' : settings.showSpecificDepartureArray == false , 'fui-triangle-up' : settings.showSpecificDepartureArray == true}" ng-click="settings.showSpecificDepartureArray = !settings.showSpecificDepartureArray"></span><span class="visible-xs fui-arrow-right pull-right" ng-click="settings.mobileState=1"></span>
			  	</div>
			  </li>
			  <li class="col-sm-4" ng-class="settings.mobileState==1 ? '' : 'hidden-xs'">
			  	<div><span class="visible-xs fui-arrow-left pull-left" ng-click="settings.mobileState=0"></span>Depart in 6-10 days <span class="hidden-xs" ng-class="{'fui-triangle-down' : settings.showSpecificDepartureArray == false , 'fui-triangle-up' : settings.showSpecificDepartureArray == true}" ng-click="settings.showSpecificDepartureArray = !settings.showSpecificDepartureArray"></span><span class="visible-xs fui-arrow-right pull-right" ng-click="settings.mobileState=2"></span>
			  	</div>
			  </li>
			  <li class="col-sm-4" ng-class="settings.mobileState==2 ? '' : 'hidden-xs'">
			  	<div><span class="visible-xs fui-arrow-left pull-left" ng-click="settings.mobileState=1"></span>Depart in 11-15 days <span class="hidden-xs" ng-class="{'fui-triangle-down' : settings.showSpecificDepartureArray == false , 'fui-triangle-up' : settings.showSpecificDepartureArray == true}" ng-click="settings.showSpecificDepartureArray = !settings.showSpecificDepartureArray"></span>
			  	</div>
			  </li>
			</ul>
		</div>
	</div>
	<div class="row header-specific-dates margin-top-1" ng-hide="settings.showSpecificDepartureArray == false">
		<div class="col-sm-4 text-center" ng-repeat="i in settings.daysBeforeDepart track by $index" ng-init="outerIndex = $index">
			<ul class="text-center">
			  <li ng-class="{'active': settings.specificDepartureArray.indexOf(outerIndex * [].constructor(5).length + $index + 1) > -1}" ng-click="handleSpecificDepartureDate(outerIndex * [].constructor(5).length + $index + 1)" ng-repeat="j in [].constructor(5) track by $index">{{outerIndex * [].constructor(5).length + $index + 1}}</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div id="wrapper" ng-show="settings.isLoading">
		  <div class="spinner-wrapper">
		    <svg width="300" height="300" id="spinner-two" fill="none">
		      <circle id="fourth" cx="150" cy="150" r="100"/>
		      <circle id="fifth" cx="150" cy="150" r="100"/>
		      <circle id="sixth" cx="150" cy="150" r="100"/>
		    </svg>
		  </div>  
		</div>
		<div ng-show="!settings.isLoading" ng-class="settings.mobileState==$index ? '' : 'hidden-xs'" class="col-sm-4 flights-column" ng-repeat="i in settings.daysBeforeDepart track by $index">
			<a class="col-xs-12 flight-list" ng-repeat="flight in response.flights | priceFilter : settings.maxPrice | departureFilter : i:(i+5):settings.specificDepartureDate:settings.specificDepartureArray | daysInDestinationFilter: settings.daysInDestination.array | returnFilter : settings.specificReturnDate | orderBy:'lowestFare'" href="{{flight.deepLink}}" target="_blank">
				<div class="row">
					<div class="col-xs-6">
						<p><strong>Depart in <span class="days">{{::flight.daysToDeparture}}</span> {{::flight.daysToDeparture == 1 ? "day" : "days"}}</strong><br>
							<span class="formated-date">{{::flight.departureFormatedDate}}</span>
						</p>
						<p><strong>Returns in <span class="days">{{::flight.daysToReturn}}</span> {{::flight.daysToReturn == 1 ? "day" : "days"}}</strong><br>
							<span class="formated-date">{{::flight.returnFormatedDate}}</span>
						</p>
					</div>
					<div class="col-xs-6 text-center">
						<p class="h4 margin-top-2">
							<span ng-repeat="number in getPriceArray(flight) track by $index" class="price">{{::number}}</span>
						</p>
						<p class="margin-top-2"><span class="days-in-destination"><strong>{{::flight.lengthOfStay}}</strong></span><br>
							{{::flight.lengthOfStay == 1 ? "day" : "days"}} in destination
						</p>
					</div>
				</div>
				<div class="row airline-code">
					<div class="col-xs-12 text-center">
						<img class="center-block img-responsive" src="/images/{{::flight.airlineCode}}.png"></img>
					</div>
				</div>
			</a>
		</div>
		<div class="col-xs-12 text-center margin-top-4" ng-show="response.flights.length == 0 && !settings.isLoading">
			<p>No result found</p>
		</div>
	</div>
</div>